extends ./frame
block content
    section(class="w-full")
        div(class="md:m-5")
            h2(class="text-xl font-medium m-5") Audit Request
            div(class="")
                form(class="has-json-validation")
                    label(for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white") Search
                    div(class="relative")
                        div(class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none")
                            svg(class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20")
                                path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z")
                        input(type="search" name="id" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 focus:border-gray-300 rounded-lg" placeholder="Enter Request ID" value="#{id}" required)
                        button(type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") Search
                - if(request) {
                    section(class="mt-5 has-json-validation")
                        h2(class="text-xl font-medium m-5")
                            span(class="px-4 py-1 bg-gray-500 text-white rounded-md mr-2 uppercase") #{request.method}
                            span #{request.endpoint}
                        div(class="validate-json" sync-input="true")
                            textarea(name="Request", id="request", class="hidden") #{request.request}
                        div(class="validate-json" sync-input="true")
                            textarea(name="Response", id="response", class="hidden") #{request.response}
                        h2(class="text-xl font-medium m-5") External Requests
                        - for (let req of request.external_requests) {
                            h2(class="text-xl font-medium m-5")
                                span(class="px-4 py-1 bg-gray-500 text-white rounded-md mr-2 uppercase") #{req.method}
                                span #{req.base_url}#{req.endpoint}
                            div(class="validate-json" sync-input="true")
                                textarea(name="Request", id="ex-request", class="hidden") #{req.payload}
                            div(class="validate-json" sync-input="true")
                                textarea(name="Response", id="ex-response", class="hidden") #{req.response}
                        - }
                - }